body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Заголовок страницы */
.header-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

/* Заголовки секций */
.section-heading {
    font-size: 1.8em;
    color: #28a745;
    margin-top: 30px;
    margin-bottom: 15px;
    text-align: left;
}

/* Абзацы */
.paragraph-text {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
}

.hydration-list {
    list-style-type: disc;
    margin-left: 20px;
}

.navbar-toggler {
    z-index: 1050; /* Поверх остальных элементов */
}

.navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
}

.collapse.show {
    display: block !important; /* Убедиться, что меню показывается */
}


/* Списки упражнений */
.exercise-list {
    padding-left: 20px;
    margin-bottom: 20px;
}

/* Тёмный режим */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

/* Стиль кнопки переключения темы */
#themeSwitcher {
    display: flex;
    align-items: center;
    font-size: 1em;
    padding: 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

/* Анимация при наведении */
#themeSwitcher:hover {
    background-color: #ffffff;
    color: #28a745;
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* Иконка солнца/луны */
#themeIcon {
    font-size: 1.2em;
    transition: transform 0.3s ease-in-out;
}

/* Поворот иконки при переключении */
body.dark-mode #themeIcon {
    transform: rotate(180deg);
}





  
  


  